name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install snyk and authenticate to snyk
      run: |
        npm install -g snyk
        snyk auth ${{ secrets.SNYK_TOKEN }}
    
    - name: Test code dependecies
      run: |
        snyk test --severity-threshold=high

    - name: Monitor
      run: snuk monitor --org-name="nothing-just-a-test"

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag backend:latest

    - name: Login to docker
      uses: docker/login-action@v2 
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWD }}
    

    
    - name: Test container with snyk
      run: |
        snyk container test backend:latest --file=Dockerfile
      
    

    # - name: Tag and push
    #   run: |
    #     docker tag backend:latest atlant91/connectivity:latest
    #     docker push atlant91/connectivity:latest
    # - name: Set up ssh key
    #   uses: webfactory/ssh-agent@v0.7.0
    #   with:
    #     ssh-private-key: ${{ secrets.SSH_KEY }}
        
    # - name: SSH into the vm instance and start the server
    #   run: |    
    #     ssh -o StrictHostKeyChecking=no atlant@34.116.210.243 << EOF
    #       docker kill \$(docker ps -q)  
    #       docker container prune --force
    #       docker rmi atlant91/connectivity:latest 
    #       sudo docker run -d -p 3000:3000 --name backend atlant91/connectivity:latest 
    #     EOF
      