name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag backend:latest

    - name: Login to docker
      uses: docker/login-action@v2 
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWD }}

    - name: Tag and push
      run: |
        docker tag backend:latest atlant91/connectivity:latest
        docker push atlant91/connectivity:latest

    - name: Remote SSH into the server and run the new docker image
      run: |
        echo "{{ secrets.SSH_KEY }}" >> ssh_key
        ssh -i ssh_key -o StrictHostKeyChecking=no  atlant@34.116.210.243
        docker stop backend 
        docker container prune 
        docker rmi atlant91/connectivity:latest 
        docker run -d -p 3000:3000 --name backend atlant91/connectivity:latest 
    
    - name: The finnish
      run: |
        echo "Everything finnished succesfully"
        
